pipeline/Scenario30_Get_Error_Message_Of_Failed_Activities_Pipeline.json
{
	"name": "Scenario30_Get_Error_Message_Of_Failed_Activities_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@int('1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var2",
					"value": "wswsww"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var3",
					"value": "wswsws"
				}
			},
			{
				"name": "Dummy",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Get Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Dummy",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@concat(activity('Set variable1')?.Error?.message,'|',activity('Set variable2')?.Error?.message,'|',activity('Set variable3')?.Error?.message)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var1": {
				"type": "String"
			},
			"var2": {
				"type": "String"
			},
			"var3": {
				"type": "String"
			},
			"Error": {
				"type": "String"
			}
		},
		"annotations": []
	}
}