pipeline/Scenario43_Dynamic_Expression_SQL_SingleQuotes_Expression_Pipeline.json
{
	"name": "Scenario43_Dynamic_Expression_SQL_SingleQuotes_Expression_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT watermark FROM dbo.demoTable WHERE name='Maheer'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "demoTable"
						}
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Scenario43_Dynamic_Expression_SQL_SingleQuotes_Expression_Dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"waterMark": {
								"value": "'@{activity('Lookup1').output.watermark}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"source1": {
								"TableName": "demoTable"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": []
	}
}